# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.production

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Vite
.vite/

# VS Code
.vscode/
package-lock.json

# Uploads folder - keep folder, ignore files
backend/uploads/*
!backend/uploads/.gitkeep
