body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('./assets/winter-snow.png');
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


